**/*.tmp
.idea/
*.o
/**/cmake-build-debug
/builds/
/experiments/issue*/.venv/
/experiments/issue*/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
/output.sas
/sas_plan*
__pycache__/
/aras/src/preprocess/preprocess
/aras/src/search/downward-1
/aras/src/search/downward-2
/aras/src/search/downward-4
