**/*.tmp
.idea/
*.o
/**/cmake-build-release
/**/cmake-build-debug
/builds/
/experiments/issue*/.venv/
/experiments/issue*/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
/output.sas
/sas_plan*
/metamorphic-experiments-copy
/old_metamorphic_experiments
/old_bias_experiments
/resources
__pycache__/
pool.txt
bugs.txt
/copy_experiments
/metamorphic-experiments-old
